@use './font';
@use './material/dark/theme';
// @use './material/light/theme';
@import './bootstrap/dark-variables';
// @import './bootstrap/light-variables';
@import './bootstrap/bootstrap';

body {
  min-height: 100vh;
  font-family: font.$zen-plain;
}

:root {
  // Angular Material sidenav background colors
  --mat-sidenav-container-background-color: #{$gray-900};
  --mat-sidenav-content-background-color: #{$gray-900};

  // Angular Material dialog background
  --mat-dialog-container-color: #{$gray-900};
}

// zen-snackbar-error background
.snackbar-error {
  --mat-snack-bar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #383838;
  --mat-snack-bar-container-color: #{$danger};
}

// Horizontal scrollbar fix for Bootstrap grids overflowing within Angular Material sidenav
.row {
  --bs-gutter-x: 0;
}

// Bootstrap card header font & zero margins on header elements
.card-header {
  font-family: font.$zen-brand;
  color: #ffffff;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
