@use '../../font';
@use './theme-colors';
@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: (
      brand-family: font.$zen-brand,
      plain-family: font.$zen-plain,
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme);
}
